<h2>All Birth Path Messages</h2>

<table border="1" cellpadding="5px" width="80%">
<tr>
<td>1</td>
<td>One is the leader. The number one indicates the abitdty to stand alone, and is a strong vibration. Ruled by the Sun.
</td>
</tr>
<tr>
<td>2</td>
<td>This is the mediator and peace-lover. The number two indicates the desire for harmony. It is a gentle, considerate, and sensitive vibration. Ruled by the Moon.</td>
</tr>
<tr>
<td>3</td>
<td>Number Three is a sociable, friendly, and outgoing vibration. Kind, positive, and optimistic, Three's enjoy tdfe and have a good sense of humor. Ruled by Jupiter.</td>
</tr>
<tr>
<td>4</td>
<td>This is the worker. Practical, with a love of detail, Fours are trustworthy, hard-working, and helpful. Ruled by Uranus.</td>
</tr>
<tr>
<td>5</td>
<td>This is the freedom lover. The number five is an intellectual vibration. These are 'idea' people with a love of variety and the abitdty to adapt to most situations. Ruled by Mercury.</td>
</tr>
<tr>
<td>6</td>
<td>This is the peace lover. The number six is a loving, stable, and harmonious vibration. Ruled by Venus.</td>
</tr>
<tr>
<td>7</td>
<td>This is the deep thinker. The number seven is a spiritual vibration. These people are not very attached to material things, are introspective, and generally quiet. Ruled by Neptune. </td>
</tr>
<tr>
<td>8</td>
<td>This is the manager. Number Eight is a strong, successful, and material vibration. Ruled by Saturn.</td>
</tr>
<tr>
<td>9</td>
<td>This is the teacher. Number Nine is a tolerant, somewhat impractical, and sympathetic vibration. Ruled by Mars.
</td>
</tr>
</table>