<!DOCTYPE html>

<head>
<title>Numerology App</title>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

<!--
<style type="text/css">

body {
	background-color: #EEEEFF;
	color: #333333;
}

h1, h2 {
	color: #663399;
	text-align: center;
}

div.small-middle {
	border: solid 1px #333333;
	width: 40%;
	padding: 20px;
	margin: auto;
}

</style>
-->

</head>

<html>

<body>

<div class="container">

<div class="header">

<h1>Numerology!</h1>
<hr />

</div>


<%= yield %>


<div class="row">
<div class="col-md-8">
<h3>About the developer</h3>
<hr />
<p>Melissa is currently learning the Ruby programming language. She is proficient in eLearning, maintaining WordPress sites, and making twist balloons.</p>
</div>
</div>

</div>

</body>
</html>